.first,
.second,
.third {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
}

.first {
    z-index: 90;
    background-color: #000;
}

.second {
    z-index: 88;
    background-color: #fff;
}

.third {
    z-index: 86;
    background-color: #0049AF;
}