.imgggcontainer{
    width: 400px;
    // overflow:hidden;
}

.ercIntro{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    gap:50px;
    justify-content: center;
    span{
        font-weight: 700;
        color:rgb(0,39,91);
    }
}

.ercText{
    align-self: center;
    width: 700px;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-overflow: ellipsis;
}

.videoMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    border-radius:20px;
}

.vid{
    width: 60vw;
    height: 400px;
    border-radius: 20px;
}

.The2023Container{
    padding-bottom:5rem;
}



@media screen and (max-width: 1200px) {
    .vid{
        height:380px;
    }
    .ercIntro{
        margin-left: 5%;
        margin-right: 5%;
    }
    .ercText{
        font-size: 18px;
    }
}
@media screen and (max-width: 1150px){
    .ercIntro{
        margin-top:3rem;
    }
    .ercText{
        font-size:17px;
    }
}
@media screen and (max-width: 1000px){
    .vid{
        height:330px;
    }
    .ercText{
        font-size: 15px;
    }
}
@media screen and (max-width: 850px){
    .vid{
        height:310px;
        width:65vw;
    }
    .ercIntro{
        display: flex;
        flex-direction: column;
        gap:30px;
        margin-bottom: 2rem;
    }
    .imgggcontainer{
        width:200px;
    }
    .ercText{
        text-align: center;
    }
}
@media screen and (max-width: 760px){
    .ercText{
        width:100%;
    }
    
}
@media screen and (max-width: 700px){
    .vid{
        height:280px;
    }
    .ercIntro{
        gap:20px;
    }
    .ercText{
        font-size: 14px;
        line-height: 18px;
    }
}
@media screen and (max-width: 600px){
    .vid{
        height:250px;
        width:75vw;
    }
    .ercText{
        font-size: 12px;
        line-height: 16px;
    }
}
@media screen and (max-width: 500px){
    .vid{
        height:210px;
    }
    .imgggcontainer{
        width:150px;
    }
    .ercText{
        line-height: 14px;
    }
}
@media screen and (max-width: 400px){
    .vid{
        height:180px;
    }
    .ercText{
        line-height: 12px;
    }
}
@media screen and (min-width: 1500px){
    .vid{
        height:500px;
    }
}