.boardCard {
    height: 200px;
    width: 200px;
    color: black;
    font-family: Inter;

    .name {
        font-size: 20px;
    }
    .team {
        color: aqua;
        font-size: 16px;
    }
}