header {
    height: 8rem;
}

main {
    background-color: #F1F8FF;
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: 6rem;
    width: 100%;

    .alumniContainer {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    
        h6 {
            font-size: 30px;
            margin-bottom: 30px;
            color: #00275B;
            font-weight: 700;
            font-family: Inter;
            text-align: center;
        }
    
        .members {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem 7rem;
        }
    }
}    
