.temp{
    margin-top:8rem;
    margin-bottom: 8rem;
    height: 100vh;
    font-weight: bolder;
    font-size:5rem;
    color:#000;
    background-color: #14A1E8;
    display: flex;
    justify-content: center;
    align-items: center;
}