.The2023Container {
    height: fit-content;
    margin-bottom: 6rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: starting 2s ease-in-out;
  
    h2 {
      width: 1050px;
      font-family: Inter;
      align-items: center;
      color: #000;
      font-size: 55px;
      font-weight: 800;
      margin-bottom: 40px;
  
      span {
        padding-left: 15px;
        color: #14A1E8;
      }
  
      @media screen and (max-width: 820px) {
        font-size: 23px;
        margin-top: 0;
        margin-bottom: 30px;
      }
  
    }
  
    .details {
      display: flex;
      gap: 7rem;
  
      .imgContainer {
        width: 580px;
        border-radius: 20px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
  
        img {
          border-radius: 20px;
          transition: all 0.2s ease-in-out;
  
          &:hover {
            transform: scale(1.1);
        }
        }
      }
  
      p {
        align-self: center;
        width: 600px;
        line-height: 30px;
        text-align: left;
        font-family: Inter;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        padding-right: 5%;
  
        span{
          color: #00275B;
          font-weight: bold;
        }
      }
    }
  }
  
  @keyframes starting {
  
    0%{
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  @media(max-width:1300px) {

    .The2023Container {
      margin-top: 8rem;
  
      h2 {
        width: 100%;
        text-align: center;
      }
  
      .details {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
  
        .imgContainer {
          width: 80%;
        }
  
        p {
          text-align: center;
          width: 80%;
        }
      }
    }
  }
  
  @media screen and (max-width: 900px) {
  
    .The2023Container {
      margin-top: 6rem;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .The2023Container {
      width: 100%;
      margin-bottom: 3rem;
  
      h2 {
        font-size: 32px;
        font-weight: 650;
        text-align: center;
        width: calc(100% - 8rem);
        margin-left: 4rem;
        margin-right: 4rem;
      }
  
      .details {
        width: calc(100% - 8rem);
        margin-left: 4rem;
        margin-right: 4rem;
  
        .imgContainer {
          width: 100%;
        }
  
        p {
          text-align: center;
          width: 100%;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  
  @media screen and (max-width: 400px) {
  
    .The2023Container {
  
      h2 {
        width: calc(100% - 6rem);
        margin-left: 3rem;
        margin-right: 3rem;
      }
  
      .details {
        width: calc(100% - 6rem);
        margin-left: 3rem;
        margin-right: 3rem;
      }
    }
  }
  
  