.foundingCard {
    font-family: Inter;
    margin-bottom: 2rem;
    display: flex;
    transition: all 0.2s ease-in-out;

    &:hover .front .imgContainer{
        transform: scale(1.1);
    }

    .front {
        width: 300px;
        min-height: 310px;
        height: fit-content;
        transition: transform 0.6s ease-in-out;
        backface-visibility: hidden;
        box-shadow: 0px 3.08px 8.34px 0px #00275B;
        background-color: #00275B;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;

        .imgContainer {
            height: 190px;
            width: 190px;
            border: 5px solid #fff;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .name {
            margin-top: 1.8rem;
            line-height: normal;
            font-size: 22px;
            color: #fff;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }

        .button {
            display: flex;
            margin-top: 10px;
            gap: 10px;

            button {
                cursor: pointer;
                padding: 10px;
                background-color: #00275B;
                color: #14A1E8;
                border: none;
                font-size: 16px;
    
                &:hover {
                    text-decoration: underline;
                }
            }

            #linkedin svg{
                fill: #0A66C2;    
            }
        }
    }
}

@media(max-width: 650px) {

    .foundingCard {
        margin-bottom: 0.5rem;

        &:hover .front .imgContainer{
            transform: scale(1);
        }

        .front {
            width: 270px;
            min-height: 275px;
            justify-content:center;
            padding-top: 5px;

            .imgContainer {
                height: 170px;
                width: 170px;
                border: 4px solid #fff;
            }

            .name {
                margin-top: 1.6rem;
                font-size: 17px;
            }

            .button {
                display: flex;
                margin-top: 5px;
                gap: 10px;
    
                button {
                    cursor: pointer;
                    padding: 10px;
                    background-color: #00275B;
                    color: #14A1E8;
                    border: none;
                    font-size: 16px;
        
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                #linkedin svg{
                    fill: #0A66C2;    
                }
            }
        }
        
    }
}