.imgggcontainer{
    width: 250px;
    height: auto;
    object-fit: contain;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.ircIntro{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    gap:70px;
    justify-content: center;
    span{
        font-weight: 700;
        color:rgb(0,39,91);
    }
}

.ircText{
    align-self: center;
    width: 700px;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-overflow: ellipsis;
}

.videoMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    border-radius:20px;
}

.vid{
    width: 60vw;
    height: 400px;
    border-radius: 20px;
}

.The2023Container{
    padding-bottom:5rem;
}

@media screen and (max-width: 1200px) {
    .vid{
        height:380px;
    }
    .ircIntro{
        margin-left: 5%;
        margin-right: 5%;
    }
    .ircText{
        font-size: 18px;
    }
}
@media screen and (max-width: 1150px){
    .ircIntro{
        margin-top:3rem;
    }
    .ircText{
        font-size:17px;
    }
}
@media screen and (max-width: 1000px){
    .vid{
        height:330px;
    }
    .ircText{
        font-size: 15px;
    }
}
@media screen and (max-width: 850px){
    .vid{
        height:310px;
        width:65vw;
    }
    .ircIntro{
        display: flex;
        flex-direction: column;
        gap:30px;
        margin-bottom: 2rem;
    }
    .imgggcontainer{
        width:200px;
    }
    .ircText{
        text-align: center;
    }
}
@media screen and (max-width: 760px){
    .ircText{
        width:100%;
    }
    
}
@media screen and (max-width: 700px){
    .vid{
        height:280px;
    }
    .ircIntro{
        gap:20px;
    }
    .ircText{
        font-size: 14px;
        line-height: 18px;
    }
}
@media screen and (max-width: 600px){
    .vid{
        height:250px;
        width:75vw;
    }
    .ircText{
        font-size: 12px;
        line-height: 16px;
    }
}
@media screen and (max-width: 500px){
    .vid{
        height:210px;
    }
    .imgggcontainer{
        width:150px;
    }
    .ircText{
        line-height: 14px;
    }
}
@media screen and (max-width: 400px){
    .vid{
        height:180px;
    }
    .ircText{
        line-height: 12px;
    }
}
@media screen and (min-width: 1500px){
    .vid{
        height:500px;
    }
}