.missionContainer {
    height: fit-content;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .details {
        display: flex;
        gap: 10rem;

        .imgContainer {
            margin-left: 6rem;
            text-align: center;
            width: 400px;
            height: 400px;
            border-radius: 20px;
            transition: all 0.2s ease-in-out;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .left {
            h2 {
                text-align: center;
                font-family: Inter;
                color: #000;
                font-size: 55px;
                font-weight: 800;
                margin-bottom: 40px;

                span {
                    padding-left: 15px;
                    color: #14A1E8;
                }

                @media screen and (max-width: 820px) {
                    font-size: 40px;
                    margin-top: 0;
                    margin-bottom: 40px;
                }

            }

            p {
                align-self: center;
                width: 400px;
                line-height: 30px;
                text-align: left;
                font-family: Inter;
                font-size: 20px;
                color: #000;
                font-weight: 500;

                span {
                    color: #00275B;
                    font-weight: bold;
                }
            }

            .mobileContainer{
                display: none
            }

        }


    }
}

@media(max-width:1100px) {

    .missionContainer {
        margin-left: 3%;
        margin-right: 3%;

        .details {
            width: 100%;
            gap: 10%;

            .imgContainer {
                margin-top: auto;
                height: fit-content;
                width: 45%;
                margin-left: 0;
            }

            .left {
                width: 55%;

                p {
                    width: 100%;
                }
            }

        }

    }
}

@media(max-width:900px) {

    .missionContainer {
        .details {
            .left {
                h2 {
                    text-align: left;
                }

            }
        }
    }

}

@media(max-width:750px) {

    .missionContainer {
        .details {
            .imgContainer {
                margin-top: 10rem;
            }
        }
    }
}

@media(max-width:600px) {

    .missionContainer {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3rem;

        .details {
            width: calc(100% - 8rem);
            margin-left: 4rem;
            margin-right: 4rem;
            gap: 5%;

            .imgContainer {
                display: none;
                width: 45%;
                margin-top: auto;
                height: 250px;
                margin-bottom: 0;
            }

            .left {
                width: 100%;

                h2 {
                    font-size: 32px;
                    font-weight: 650;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    display: none;
                }

                .mobileContainer {
                    display: block;
                    position: relative;
                    width: 100%;
                    overflow: hidden;

                    #para {
                        font-size: 16px;
                        line-height: 24px;
                        width: 100%;

                        span {
                            color: #00275B;
                            font-weight: bold;
                        }
                    }

                    img {
                        margin-left: 10px;
                        float: right;
                        height: 200px;
                        width: 200px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 400px) {

    .missionContainer {
        .details {
            flex-direction: column;
            width: calc(100% - 6rem);
            margin-left: 3rem;
            margin-right: 3rem;
            gap: 2rem;

            .imgContainer {
                display: block;
                align-self: center;
                width: 80%;
                margin-top: 0;
                height: fit-content;
                margin-bottom: 0;
            }

            .left {
                display: block;
                width: 100%;

                p{
                    display: block;
                }

                .mobileContainer {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 350px) {

    .missionContainer {
        .details {
            .imgContainer {
                width: 100%;
                height: 250px;
            }
        }
    }
}